/* static/style.css */
.titulo {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background:
        url('foto.png') center center no-repeat, radial-gradient(circle at 11.03%, #ff63e1 0%, #ef57e6 12.5%, #d44cea 25%, #b343ef 37.5%, #893cf2 50%, #4839f5 62.5%, #003bf8 75%, #003efb 87.5%, #0040fc 100%);
    background-size: 100%, cover;
    background-position-y: -4px;
    background-size: width="100px";
    background-blend-mode: normal;
}

.button-circle {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px 10px;
}
